modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Ele Types App"

[[workflows.workflow]]
name = "Ele Types App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36741
externalPort = 4200

[[ports]]
localPort = 36793
externalPort = 3000

[[ports]]
localPort = 36987
externalPort = 5173

[[ports]]
localPort = 37001
externalPort = 5000

[[ports]]
localPort = 37087
externalPort = 3001

[[ports]]
localPort = 37863
externalPort = 6800

[[ports]]
localPort = 38729
externalPort = 3003

[[ports]]
localPort = 39111
externalPort = 3002

[[ports]]
localPort = 44101
externalPort = 6000
