@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  30% {
    opacity: 1;
    transform: translateX(0);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.time-animation-item {
  pointer-events: none;
}
